<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Home | Inscribe+</title>
    <meta
      name="description"
      content="Discover interesting blog posts on Inscribe+"
    />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <main class="container mt-3">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% blogs.forEach(blog => { %>
        <div class="col">
          <article class="card h-100">
            <img
              src="<%= blog.coverImageURL %>"
              class="card-img-top"
              alt="<%= blog.title %>"
              loading="lazy"
              height="240px"
            />
            <div class="card-body">
              <h2 class="card-title h5"><%= blog.title %></h2>
              <span class="text-muted">
                <%= new Date(blog.createdAt).toLocaleDateString('en-US', {
                month: 'short', day: 'numeric', year: 'numeric' }) %>
              </span>
              <p class="card-text"><%= blog.body.substring(0, 100) %>...</p>
              <a
                href="/blog/<%= blog._id %>"
                class="btn btn-primary stretched-link"
                >Read More</a
              >
            </div>
          </article>
        </div>
        <% }) %>
      </div>
    </main>

    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
